<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.sameer.tutorialSpring.Setup.HelloWorld" scope="singleton">
        <!--<property name="message" value="Hello World!!"/>-->
    </bean>

    <bean id="initDestroy" class="com.sameer.tutorialSpring.beanLifeCycle.LifeCycleBean"
          init-method="init"
          destroy-method="destroy"/>

    <bean class="com.sameer.tutorialSpring.BeanPostProcessor.InitiLifeCycle"/>

    <bean id="spellChecker" class="com.sameer.tutorialSpring.DI.ConstructorDI.SpellChecker"></bean>

    <bean id="textEditor" class="com.sameer.tutorialSpring.DI.ConstructorDI.TextEditor">
        <constructor-arg ref="spellChecker"/>
    </bean>

    <bean id="checker" class="com.sameer.tutorialSpring.DI.SetterDI.SpellChecker"/>

    <bean id="editor" class="com.sameer.tutorialSpring.DI.SetterDI.TextEditor">
        <property name="spellChecker" ref="checker"/>
    </bean>
</beans>