<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.sameer.tutorialSpring.Setup.HelloWorld" scope="singleton">
        <!--<property name="message" value="Hello World!!"/>-->
    </bean>

    <bean id="initDestroy" class="com.sameer.tutorialSpring.beanLifeCycle.LifeCycleBean"
          init-method="init"
          destroy-method="destroy"/>

    <bean class="com.sameer.tutorialSpring.BeanPostProcessor.InitiLifeCycle"/>
</beans>